<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Sistema Avalição </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">   
                    <a href='@Url.Action("Index", "Home")'>
                        <img src='@Url.Content("~/Content/Files/logo-nova-v2.png")' />
                    </a>
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Cadastros
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Perguntas Gestor", "PreGestorView", "PreGestor")</li>
                            <li class="nav-divider"></li>
                            <li>@Html.ActionLink("Perguntas Funcionario", "PreFuncionarioView", "PreFuncionario")</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Operações
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Avaliação Gestor", "AvaGestorView", "AvaGestor")</li>
                            <li class="nav-divider"></li>
                            <li>@Html.ActionLink("Avaliação Funcionario", "AvaFuncionarioView", "AvaFuncionario")</li>                            
                         </ul>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Relatórios
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">                         
                            <li>Relatorio</li>                         
                        </ul>
                    </li>
                   
                </ul>

                <ul class="nav navbar-nav navbar-right">                  
                    <li><a href="#">Olá @*@User.Identity.Name*@</a></li>                  
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Avaliação</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
