@model List<CaixaRHWeb.Models.PreFuncionarioModel>
@{
    ViewBag.Title = "Avalião Funcionario";
}

    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
    <link href="~/Content/Fornecedor.css" rel="stylesheet" />
    <style>
        .dialogo > .modal-dialog {
            width: 700px !important;
        }

        .modal-body {
            height: 550px;
            overflow-y: scroll;
        }

    </style>

<section id="cadastro_cabecalho">
    <h1>Avalião Funcionario</h1>
</section>

    <div class="row" style="margin-top: 15px">
        <div class="col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">Perguntas</div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered table-striped table-hover">
                                <thead>
                                   
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <div class="form">

                                            @if (@item.Ativo == true && @item.NomeResposta != null)
                                            {
                                                <h5>@item.NomePergunta:</h5>
                                                <div>
                                                    <label>
                                                        @if (@item.NomeResposta != null)
                                                        {@Html.RadioButton(item.Id.ToString(), item.NomeResposta) <span> @item.NomeResposta </span><br>
                                                        }

                                                        @if (@item.NomeResposta2 != null)
                                                        {@Html.RadioButton(item.Id.ToString(), item.NomeResposta2) <span> @item.NomeResposta2 </span><br>
                                                        }

                                                        @if (@item.NomeResposta3 != null)
                                                        {@Html.RadioButton(item.Id.ToString(), item.NomeResposta3) <span> @item.NomeResposta3 </span><br>
                                                        }

                                                        @if (@item.NomeResposta4 != null)
                                                        {@Html.RadioButton(item.Id.ToString(), item.NomeResposta4) <span> @item.NomeResposta4 </span><br>
                                                        }
                                                    </label>
                                                </div>
                                                <br>
                                            }
                                        </div>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-9">
                            @Html.Label("txt_observacao", "Observação: ", new { @class = "control-label" })
                            @Html.TextArea("txt_observacao", null, new { @class = "form-control" })
                        </div>
                    </div>

                    <br />

                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="card">
                                <div class="card-body">
                                    <a class="btn btn-primary btn-success" role="button"><i class="glyphicon glyphicon-send"></i> Enviar</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
   
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script src="~/Scripts/Fornecedor.js"></script>
